.exchange {
    min-height: 250px;
    background: #20222A;
    padding: 40px 100px;
    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        margin-top: 12px;
    }
    .exchange__search {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        .exchange__search-engine {
            border: 1px solid #3D4554;
            border-radius: 24px;
            padding: 15px 120px 15px 40px;
            background: #20222A;
            outline: none;
            font-weight: 400;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.5);
            width: 246px;
            &:focus {
                border: 1px solid #F4C038;
                border-radius: 24px;
            }
        }
        &-img {
            width: 16px;
            height: 16px;
            position: absolute;
            right: 30.3%;
            top: 16px;
            cursor: pointer;
        }
        .exchange__title {
            font-weight: 500;
            font-size: 32px;
            color: #FFFFFF;
        }
    }
    .exchange__field {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #3D4554;
        padding-bottom: 32px;
        .rarity {
            display: flex;
            margin-top: 40px;
            align-items: center;
            &-title {
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFF;
                margin-right: 25px;
            }
            .rarity__list-items {
                display: flex;
            }
            .rarity__list {
                display: flex;
                list-style-type: none;
                .rarity__list-item {
                    border: 1px solid #FFCE50;
                    border-radius: 4px;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
                .rarity__list-item--red {
                    border: 1px solid #ED422B;
                }
                .rarity__list-item--pink {
                    border: 1px solid #CF309C;
                }
                .rarity__list-item--purple {
                    border: 1px solid #8533ED;
                }
                .rarity__list-item--blue {
                    border: 1px solid #275CE4;
                }
                .rarity__list-item--dark {
                    border: 1px solid #6AB2F4;
                }
                .rarity__list-item--white {
                    border: 1px solid #FFFFFF;
                }
                .rarity__list-number {
                    font-weight: 400;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.5);
                    margin-left: 10px;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .hot-prices {
            display: flex;
            align-items: center;
            margin: 35px 0 0 0;
            &__img {
                margin-right: 8px;
                width: 44px;
                height: 26px;
                cursor: pointer;
            }
            &__icon {
                width: 32px;
                height: 32px;
                margin-right: 8px;
            }
            &__title {
                font-weight: 400;
                position: relative;
                font-size: 16px;
                color: #FFFFFF;
                &::after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url('../img/help3.svg');
                    right: -30px;
                }
            }
        }
    }
}

.search__items {
    position: absolute;
    z-index: 4;
    background: #20222A;
    padding: 0 0 16px 16px;
    border: 1px solid #3D4554;
    box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
    border-radius: 8px;
    right: 0;
    width: 392px;
    top: 135%;
    display: none;
    .search__item {
        display: flex;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
            background-color: #323947;
            border-radius: 9px;
            width: 250px;
        }
        img {
            background: #272E3B;
            border-radius: 4px;
            margin-right: 20px;
            padding: 5px;
        }
        .search__item-descr {
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            margin-left: 20px;
            span {
                font-weight: 400;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.5);
                margin-top: 4px;
            }
        }
    }
}

.hide {
    display: none;
}