header {
    background-color: #20222A;
    padding: 16px 100px;
    border-bottom: 2px solid #2b2d37;
    .header {
        display: flex;
        justify-content: space-between;
        &__title {
            margin: 10px 0 10px 14px;
            cursor: pointer;
            width: 114px;
            height: 20px;
        }
        &__logo {
            cursor: pointer;
            border-radius: 50px;
            &:hover {
                transition: 0.5s all;
                box-shadow: rgba(245, 140, 49, 0.713) 0px 5px 15px;
                border-radius: 50px;
            }
        }
        .header__item {
            display: flex;
        }
        .header__help {
            margin-left: 140px;
            display: flex;
            &-subtitle {
                font-weight: 500;
                font-size: 14px;
                color: #FFFFFF;
                margin: 12px 32px 0 0;
                cursor: pointer;
            }
        }
        .header__language {
            display: flex;
            cursor: pointer;
            border: 1px solid #3D4554;
            border-radius: 20px;
            padding: 12px;
            &:hover {
                transition: 0.5s all;
                box-shadow: rgba(245, 140, 49, 0.713) 0px 5px 15px;
                border-radius: 20px;
            }
            &-title {
                margin: 0px 10px 0 10px;
                font-weight: 400;
                font-size: 14px;
                color: #FFFFFF;
            }
            &-icon {
                width: 16px;
                height: 16px;
            }
        }
    }
}