.project {
    margin-top: 111px;
    padding: 16px 100px;
    .project__btn {
        padding: 22px 40px;
        text-decoration: none;
        margin-top: 40px;
    }
    &__title {
        font-weight: 700;
        font-size: 56px;
        color: #FFFFFF;
        width: 675px;
    }
}

.project__btn-item {
    margin-top: 70px;
}