.refill {
    min-height: 220px;
    padding: 50px 100px 30px 100px;
    background: #272E3B;
    &__title {
        font-weight: 700;
        font-size: 48px;
        color: #FFFFFF;
    }
    &__field {
        display: flex;
        justify-content: space-between;
    }
    .selection__field {
        display: flex;
        justify-content: space-between;
        .selection__update {
            position: relative;
            font-weight: 500;
            font-size: 16px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            margin-top: 32px;
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                left: -35px;
                background-image: url('../img/update.svg');
            }
            &:hover {
                transition: 0.5s all;
                color: #e1b651;
            }
        }
    }
    .refill__info {
        margin-top: 10px;
        display: flex;
        &-subtitle {
            font-weight: 400;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.5);
            margin-right: 30px;
        }
        .refill__info-subtitle--separator {
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 22px;
                background: #3D4554;
                margin-left: 15px;
            }
        }
    }
}

.selection__games {
    display: flex;
    margin-top: 40px;
}

.selection__game {
    display: flex;
    border: 1px solid #3D4554;
    border-radius: 0px 16px 16px 0px;
    padding: 15px 60px 15px 15px;
    cursor: pointer;
    &:hover {
        background-color: #303742;
    }
}

.selection__game-title {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 16px;
    margin-top: 9px;
}

.selection__game--csgo {
    border-radius: 16px 0px 0px 16px;
}

.switch {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 24px;
    margin-right: 10px;
    margin-top: 5px;
}

.switch__input {
    height: 0;
    width: 0;
    opacity: 0;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #272E3B;
    border: 1px solid #3D4554;
    border-radius: 24px;
    transition: all 0.5s;
    &::before {
        content: '';
        position: absolute;
        cursor: pointer;
        left: 4px;
        bottom: 3px;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 24px;
        transition: all 0.5s;
    }
}

.switch__input:checked+.switch__slider {
    background-color: rgb(112, 234, 94);
}

.switch__input:checked+.switch__slider::before {
    transform: translateX(16px);
}